<main>
  <section class="flex flex-col mt-8 px-4 leading-none tracking-tighter">
    <h1 class="font-bold text-3xl text-center dark:text-neutral-50 ">Extensions List</h1>
    <div class="flex justify-between mt-4 font-medium">
      @for(btn of buttons;track $index){
      <button class="active:bg-red-700 active:text-neutral-50 py-2 px-4 rounded-2xl 
              bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50 shadow-xl
              dark-active:bg-red-700 text-xl border-neutral-200 border-1" [class.active]="selectedIndex === $index"
        (click)="onPillBtnClick($index)">{{btn}}
      </button>
      }


    </div>
  </section>
  <section class="mt-4">
    <app-card [card]="card" (toggleSwitchClicked)="onToggleSwitchClick($event)"></app-card>
  </section>
</main>